@RenderPage("~/Shared/global/_Header.cshtml")

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="padding-top: 120px; text-align:center; font-size: 72px;">404</h1>
            <h1 style="padding-bottom: 20px; text-align:center;">It looks like something you were looking for has been mislayed..</h1>
            <div style="padding-bottom: 150px; text-align:center;">
                <a class="btn btn-default" style="text-align:right;" href="~/index.cshtml"> Homepage</a>
            </div>
        </div>
    </div>
</div>


@RenderPage("~/Shared/global/_Footer.cshtml")